{{#if citation_key}}

<div class="bib_div">
<details data-key="{{citation_key}}" class=ref>
{{!-- citation --}}
<summary class=citation id={{citation_key}}>{{#if pub_year}} ({{pub_year}}). {{/if}}{{#if authors_long}}  {{authors_long}}.{{/if}}{{#if title}}  {{#if url}}<a href="{{url}}" target="_blank">{{/if}}<cite>{{title}}</cite>{{#if url}}</a>{{/if}}. {{/if}}{{#if journal}}<emph>{{journal}}</emph>.{{/if}}</summary>
{{!-- summary/abstract --}}
{{#if summary}}
<section class=abstract>
<h1>Summary/Abstract</h1>
<div>{{summary}}</div>
</section>
{{/if}}
</details>
</div>

{{/if}}

<br/>
